@model IEnumerable<FoodOderingSys.Models.OrderTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qnty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerTbl.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTbl.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTbl1.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qnty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerTbl.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTbl.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTbl1.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderID })
        </td>
    </tr>
}

</table>
