@model IEnumerable<FoodOderingSys.Models.EmployeeLogin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeePassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeTbl.EmployeeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeePassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeTbl.EmployeeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeLoginID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeLoginID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeLoginID })
        </td>
    </tr>
}

</table>
